body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--hard-blue), var(--blue), var(--light-blue));
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

#messageDiv {
    width: 100%;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

#chat {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    margin-top : 10px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    overflow-y: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #e0e0e0;
    max-width: 60%;
    word-wrap: break-word;
}

.message:nth-child(even) {
    align-self: flex-end;
    background-color: #d1e7dd;
}

.message p {
    margin: 5px 0;
}

/* Pseudo and Time */
.message-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-header p {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    color: #0056b3;
}

.message-header p.time {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
    display: none;
}

/* Message content */
.message-content {
    font-size: 1.1em;
}

/* Show time on hover */
.message:hover .message-header p.time {
    display: inline;
}