body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--hard-blue), var(--blue), var(--light-blue));
}

#container {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#salles {
    width: 25%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.container-chat {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: #f9f9f9;
}

#messageDiv {
    width: 90%;
    padding: 10px 5%;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#chat {
    flex-grow: 1;
    width: 98%;
    padding: 10px 1%;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #e0e0e0;
    max-width: max-content;
    word-wrap: break-word;
}

.right {
    margin-left: auto;
    background-color: #d1e7dd;
}

.message p {
    margin: 5px 0;
}

/* Pseudo and Time */
.message-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-header p {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
    color: #0056b3;
}

.message-header p.time {
    font-style: italic;
    font-size: 0.8em;
    color: #888;
    display: none;
}

/* Message content */
.message-content {
    font-size: 1em;
}

/* Show time on hover */
.message:hover .message-header p.time {
    display: inline;
}

/* Styles for salles */
.salle {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.salle:hover {
    background-color: #d0d0d0;
}

.salle h3 {
    margin: 0;
    font-size: 1.2em;
    color: #0056b3;
}

.salle p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.salle .dernier-message {
    font-style: italic;
    font-size: 0.9em;
    color: #888;
}


.salle.highlight {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.salle.active {
    background-color: #d1e7dd;
    border-left: 5px solid #0056b3;
}

.salle .dernier-message.new {
    font-weight: bold;
    color: #000000;
}

#ajoutSalle {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

#envoyerMessage {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#envoyerMessage:hover {
    background-color: var(--hard-blue);
}

#envoyerMessage:active {
    transform: scale(0.95);
}